.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: xx-large;
  align-items: center;
  background-image: url("./images.jpg");
}

.iframe {
  height: 40vh;
  width: 40vw;
  z-index: 99;
}
a{
  color: white;
}
a:visited{
  color: white;
}
.title{
  z-index: 99;
}
.subliminal{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  color: rgba(0, 0, 0, 0.39);
}


@media (max-width: 800px) {
  .App {
    font-size: large;
    width: 100vw;
    justify-content: space-around;

  }
  .iframe {
    height: 40vh;
    width: 90vw;
  }
  
}